{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'immobiles/global/head.html' %}
        <title>{% block title %}{% endblock title %} | Controle de Imóvel</title>
    </head>

    <body>
        <div class="flex flex-row">
            {% include 'immobiles/global/navbar.html' %}

            <div class="w-full" style="margin: 60px 50px;">
                <div class="bg-white p-10 rounded-md w-full shadow-md" style="height: 85vh; overflow-y: auto;">
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>

        {% include 'immobiles/global/footer.html' %}

        <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
        <script src="https://unpkg.com/@themesberg/flowbite@1.1.0/dist/flowbite.bundle.js"></script>
        <script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>
        <script src="https://unpkg.com/@material-tailwind/html@latest/scripts/ripple.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.9/dist/sweetalert2.all.min.js"></script>
        <script src="{% static "immobiles/js/script.js" %}"></script>
        {% block scripts %}{% endblock %}
    </body>

</html>