{% load static %}

<div class="container"> 
    <div class="d-flex gap-4 mt-3">
        <h1 class="font-semibold text-xl">Editar Cliente</h1>
        <form action="{% url 'immobiles:update-customer' customer.pk %}" method="POST" class="mt-10">
            {% csrf_token %}
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
                {% for field in form %}
                    {% if field.name == 'is_active' %}
                        <div class="relative h-10 input-component mb-5 flex items-center">
                            <label for="{{ field.id_for_label }}" class="flex items-center cursor-pointer relative">
                                {{ field }}
                                <div class="toggle-bg bg-gray-200 border-2 border-gray-200 h-6 w-11 rounded-full"></div>
                                <span class="ml-3 text-gray-900 text-sm font-medium">É ativo?</span>
                            </label>
                        </div>
                    {% else %}
                        <div class="relative h-10 input-component mb-5">
                            {{ field }}
                            <label for="{{ field.id_for_label }}" class="absolute left-2 transition-all bg-white px-1">
                                {{ field.label }}
                            </label>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <input type="submit" value="Salvar" id="theme-toggle" class="bg-blue-800 px-5 py-3 rounded-md text-white font-semibold tracking-wide cursor-pointer text-sm">
        </form>
    </div> 
</div>